{% extends "template.twig" %}

{% block content %}
    <div class="container margintop200">
        <div class="row">
            <div class="col-md-12">
                <h1>Bonjour {{ first_name_account }}</h1>
                <h2>Voici les informations de votre compte</h2>
            </div>
        </div>
    </div>

{% endblock %}