{% extends "template.twig" %}

{% block content %}
    <div class="container margintop200">
        <div class="row">
            <div class="col-md-12">
               <h1>Bonjour {{ first_name_account }} je vais modérer votre compte prochainement</h1>
            </div>
        </div>
    </div>

{% endblock %}