<!doctype html>
<html lang="en">
<head>
    <title>Développeur web PHP/Synfony 4 - Mathieu DELROT</title>
    <meta name="description" content="Co-dirigeant d'une agence web pendant 5 ans, je change de métier pour devenir développeur web.">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://www.mathieu-delrot.fr/logo-mathieu.svg">
    <meta name="twitter:site" content="https://www.mathieu-delrot.fr/">
    <meta name="twitter:title" content="Développeur web PHP/Synfony 4">
    <meta name="twitter:description" content="Co-dirigeant d'une agence web pendant 5 ans, je change de métier pour devenir développeur web">
    <meta name="twitter:creator" content="@mathieudelrot">

    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="https://www.mathieu-delrot.fr/mathieu.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Développeur web PHP/Synfony 4" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mathieu-delrot.fr/" />
    <meta property="og:image" content="https://www.mathieu-delrot.fr/logo-mathieu.svg" />
    <meta property="og:description" content="Co-dirigeant d'une agence web pendant 5 ans, je change de métier pour devenir développeur web" />
    <meta property="og:site_name" content="Mathieu DELROT" />
    <meta property="article:published_time" content="2019-03-27T11:09:00+01:00" />
    <meta property="article:modified_time" content="2019-03-27T11:45:47+01:00" />
    <meta property="article:section" content="" />
    <meta property="article:tag" content="" />
    <meta property="fb:admins" content="" />
    <meta charset="utf-8">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="public/app.js"></script>
</head>
<header class="container-fluid fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-xl-center">
                <a href="/siteweb/"><img width="100" height="82" src="public/image/logo-mathieu.svg"></a>
                <div class="tagline">
                    <div class="marginbottom10">Développeur web PHP/Synfony 4</div>
                    <div class="d-flex align-items-center justify-content-between">
                                <span>
                                    <!--<a href="https://twitter.com/hdbtechnology" target="_blank"><i class="fab fa-twitter"></i></a>-->
                                    <a href="https://www.linkedin.com/in/mathieu-delrot-20532986/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </span>
                        <a href="index.php?action=contact" class="button">Me contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body>

    {% block content %}
    {% endblock %}
</body>
<footer>
    <div class="container-fluid container-profil">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <h2>Mathieu DELROT</h2>
                    <h3>32 ans &nbsp;&nbsp;&nbsp;<i class="fas fa-mobile"></i> 06 63 99 84 55 &nbsp;&nbsp;&nbsp;<i class="fas fa-envelope"></i> contact@mathieu-delrot.fr</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-profil">

                            </div>

                        </div>
                        <div class="col-md-9">
                            <p>Apprendre en permanence, comprendre un besoin, imaginer sa conception, le développer, travailler en équipe, tester et améliorer un produit, sont autant de points qui me plaisent dans ce métier.</p>
                            <a href="index.php?action=contact" class="button">Me contacter</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <a href="index.php?action=createAccount" class="button">Créer votre compte</a>

            </div>
        </div>
    </div>
</footer>
</html>
