{% block menuadmin %}
    <div class="row">
        <nav class="col-md-12">
            <a class="btn btn-dark" href="/admin/home">Accueil admin</a>
            <a class="btn btn-dark" href="/admin/projets">Projets</a>
            <a class="btn btn-dark" href="/admin/commentaires">Commentaires</a>
            <a class="btn btn-dark" href="/admin/membres">Membres</a>
            <a class="btn btn-danger" href="/admin/deconnexion">Déconnexion</a>
        </nav>
    </div>
{% endblock %}