{% block menuadmin %}
    <div class="container margintop150">
        <div class="row">
            <nav class="col-md-12">
                <a class="btn btn-dark" href="index.php?action=admin">Accueil admin</a>
                <a class="btn btn-dark" href="index.php?action=askPostsListAdmin">Portfolios</a>
                <a class="btn btn-dark" href="index.php?action=askCommentsListAdmin">Commentaires</a>
            </nav>
        </div>
    </div>
{% endblock %}