{% block menuadmin %}
    <div class="row">
        <nav class="col-md-12">
            <a class="btn btn-dark" href="/admin/home">Accueil admin</a>
            <a class="btn btn-dark" href="/admin/projets">Portfolios</a>
            <a class="btn btn-dark" href="/admin/commentaires">Commentaires</a>
        </nav>
    </div>
{% endblock %}