{% extends "template.twig" %}

{% block content %}
    <div class="container margintop200">
        <div class="row">
            <div class="col-md-9">
                <h1>Développeur web junior</h1>
                <span>—</span>
                <h2 class="subtitle">PHP / Symfony 4</h2>
                <p>Chef de projet web et dirigeant d'une agence web pendant 5 ans je me forme au métier de développeur web PHP/Synfony depuis mai 2019.</p>
                <p>Depuis septembre 2019 je suis en alternance chez Camping-Car Park, une startup Pornicaise de 50 personnes au j'exerce le métier de développeur web junior.</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 margintop30">
                <div class="d-flex justify-content-between">
                    <p>Janvier 2014</p>
                    <p>Janvier 2019</p>
                </div>
                <div class="tag blue"></div>
                <h3>Co-Dirigeant - Chargé de projets web</h3>
                <h4>HDB Technology</h4>
            </div>
            <div class="col-md-2 margintop30 col-sm-5 col-5">
                <div class="d-flex justify-content-between">
                    <p>mai</p>
                    <p>Août</p>
                </div>
                <div class="tag bluelight"></div>
                <h3>Formation dev web</h3>
                <h4>Open Classroom</h4>
            </div>
            <div class="col-md-4 margintop30 col-sm-8 col-8">
                <div class="d-flex justify-content-between">
                    <p>Septembre 2019</p>
                    <p>Août 2021</p>
                </div>
                <div class="tag green"></div>
                <h3>Contrat pro dev PHP/Symfony 4</h3>
                <h4>Open Classroom - Camping-car Par</h4>
            </div>
        </div>
    </div>
    <div class="container competence-container">
        <div class="row">
            <div class="col-md-12">
                <div class="mr-md-2"">
                <h2>Compétences techniques</h2>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Illustrator</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Photoshop</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Sketch / Adobe XD</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                    <div class="col-md-3">
                        <h3>CSS</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3>HTML</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Wordpress</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag blue"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>Utilisation régulière</p>
                    </div>
                    <div class="col-md-3">
                        <h3>PHP</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag bluelight"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>En cours d’apprentissage</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Bootstrap</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag bluelight"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>En cours d’apprentissage</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Git et GitHub</h3>
                        <div class="d-flex">
                            <div class="col-md-4 padding-left-0"><div class="tag bluelight"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                            <div class="col-md-4 padding-left-0"><div class="tag grey"></div></div>
                        </div>
                        <p>En cours d'apprentissage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container xperience">
        <div class="row">
            <div class="col-md-6">
                <div class="mr-md-2"">
                <h2>Expérience professionnelle</h2>
                <p>Actuellement développeur web junior chez Campin-car Park j'interviens dans différents domaines: développement web (PHP sur Synofny 4),conception du nouveau site web avec Adobe XD.</p>
                <p>Co-dirigeant de la société HDB Technology pendant 5 ans j'étais commercial et chef de projets pour des sites web et des applications mobiles</p>
                <p>Voici mes missions principales</p>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Commercial</h3>
                        <span class="data">90</span><span>Clients</span>
                    </div>
                    <div class="col-md-4">
                        <h3>Chef de projet</h3>
                        <span class="data">100</span><span>Sites web</span>
                    </div>
                    <div class="col-md-4">
                        <h3>Cahier des charges</h3>
                        <span class="data">10</span><span>Rédactions</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Intervenant</h3>
                        <span class="data">4</span><span>Écoles</span>
                    </div>
                    <div class="col-md-4">
                        <h3>Développement</h3>
                        <span class="data">10</span><span>Sites web</span>
                    </div>
                    <div class="col-md-4">
                        <h3>Étude SEO</h3>
                        <span class="data">10</span><span>Études</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Conception</h3>
                        <span class="data">4</span><span>Sites web</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ml-md-2">
                <h2>Études</h2>
                <div class="studies-container">
                    <div class="studies">
                        <h3>Développeur d'applications web PHP/Synfony 4</h3>
                        <h4>OpenClassroom - Alternance chez Camping-car Park</h4>
                    </div>
                    <div class="studies">
                        <h3>Ingénieur généraliste</h3>
                        <h4>CESI Saint-Nazaire - Alternance chez Filtrauto S.A</h4>
                        <h4>TOEIC 785</h4>
                    </div>
                    <div class="studies">
                        <h3>BTS Mécanique Productique</h3>
                        <h4>Lycée Artistide Briand</h4>
                    </div>
                    <div class="studies">
                        <h3>Bac STI Mécanique Productique</h3>
                        <h4>Lycée Artistide Briand</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
    <h2>Mes derniers projets</h2>
    {% for post in postlist  %}
        <a href="projet/{{ post.title }}-{{ post.id }}"><h3>{{ post.title }}</h3></a>
        <p>{{ post.intro }}</p>
    {% endfor %}
</div>

{% endblock %}